<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.example.parkhanee.mytravelapp">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <permission android:name="com.example.parkhanee.mytravelapp.permission.C2D_MESSAGE"
                android:protectionLevel="signature" />
    <uses-permission android:name="com.example.parkhanee.mytravelapp.permission.C2D_MESSAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/road"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id"/>

        <service android:name="com.mapbox.mapboxsdk.telemetry.TelemetryService"/>

        <activity
            android:name=".MainActivity"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".NearbyD1Activity">
        </activity>
        <activity android:name=".NearbyD2Activity">
        </activity>
        <activity android:name=".NearbyD3Activity">
        </activity>
        <activity android:name=".NearbyMapActivity">
        </activity>
        <activity android:name=".TestViewPagerActivity">
        </activity>
        <activity android:name=".LogInActivity">
        </activity>
        <activity android:name=".SignInActivity">
        </activity>
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data android:scheme="@string/fb_login_protocol_scheme"/>
            </intent-filter>
        </activity>
        <!--
 ATTENTION: This was auto-generated to add Google Play services to your project for
     App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information.
        -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version"/>

        <activity android:name=".FolderActivity">
        </activity>
        <activity android:name=".FolderUpdateActivity"
                  android:windowSoftInputMode="stateHidden">
        </activity>
        <activity android:name=".FolderShareActivity"
                  android:windowSoftInputMode="stateHidden">
        </activity>

        <!--<receiver-->
            <!--android:name=".GcmBroadcastReceiver"-->
            <!--android:permission="com.google.android.c2dm.permission.SEND" >-->
            <!--<intent-filter>-->
                <!--<action android:name="com.google.android.c2dm.intent.RECEIVE" />-->
                <!--<category android:name="com.hmkcode.android.gcm" />-->
            <!--</intent-filter>-->
        <!--</receiver>-->

        <!--<service-->
            <!--android:name=".GcmMessageHandler"-->
            <!--android:exported="false">-->
            <!--<intent-filter>-->
                <!--<action android:name="com.google.android.gms.iid.InstanceID" />-->
            <!--</intent-filter>-->
        <!--</service>-->
        <receiver
            android:name="com.google.android.gms.gcm.GcmReceiver"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <category android:name="com.example.gcm" />
            </intent-filter>
        </receiver>
        <service
            android:name=".MyGcmListenerService"
            android:exported="false" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </service>
        <service
            android:name=".MyInstanceIDListenerService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.gms.iid.InstanceID" />
            </intent-filter>
        </service>
    </application>

</manifest>